{# base.twig #}
<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{data.global.siteTitle}}</title>
		
		{% block head %}
			{% if data.env == 'production' %}
				<link rel="stylesheet" href="{{ data.portPath }}/css/main.bundle.css?{{ data.timestamp }}">
				<link rel="stylesheet" href="{{ data.portPath }}/css/styleguide.bundle.css?{{ data.timestamp }}">
			{% endif %}
		{% endblock %}

	</head>
	<body class="page-styleguide" data-template="base.twig">

		<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->

		{# {% include 'views/globals/header/template.twig' %} #}

		<main id="main">
			
			{% block content %}{% endblock %}

		</main>

		{# {% include 'views/globals/footer/template.twig' %} #}

		{% block foot %}

			{% block beforeFoot %}{% endblock %}

			<script src="{{ data.portPath }}/js/common.js?{{ data.timestamp }}"></script>
			<script src="{{ data.portPath }}/js/main.bundle.js?{{ data.timestamp }}"></script>
			<script src="{{ data.portPath }}/js/styleguide.bundle.js?{{ data.timestamp }}"></script>
			
			{% block afterFoot %}{% endblock %}

		{% endblock %}
	
	</body>
</html>