{# base-sg.twig #}
<!DOCTYPE html>
<html>
	<head>
		<title>Styleguide</title>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		
		<meta name="robots" content="noindex, nofollow">
		
		<link rel="icon" href="{{ data.portPath }}/images/favicon.ico">
		
		{% block head %}
			{% if data.env == 'production' %}
				<link rel="stylesheet" href="{{ data.portPath }}/css/app.bundle.css?{{ data.timestamp }}">
				<link rel="stylesheet" href="{{ data.portPath }}/css/styleguide.bundle.css?{{ data.timestamp }}">
			{% endif %}
		{% endblock %}

	</head>
	<body class="page-styleguide" data-template="base.twig">

		<!--[if lt IE 9]><div class="upgrade"><strong><a href="http://whatbrowser.org/">Your browser is quite old!</strong> Why not upgrade to a different browser to better enjoy this site?</a></div><![endif]-->

		{# {% include 'views/globals/header.twig' %} #}

		<main id="main">
			
			{% block content %}{% endblock %}

		</main>

		{# {% include 'views/globals/footer.twig' %} #}

		{% block foot %}

			{% block beforeFoot %}{% endblock %}

			<script src="{{ data.portPath }}/js/app.bundle.js?{{ data.timestamp }}"></script>
			<script src="{{ data.portPath }}/js/styleguide.bundle.js?{{ data.timestamp }}"></script>
			
			{% block afterFoot %}{% endblock %}

		{% endblock %}
	
	</body>
</html>